<main role="main">
  <section class="jumbotron text-center">
      <div class="container">
          <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
          <p>
              <a href="#" class="btn btn-primary my-2" style="margin: 3px">Main call to action</a>
              <a href="#" class="btn btn-secondary my-2" style="margin: 3px">Secondary action</a>
          </p>
      </div>
  </section>
  <div class="">
      <ul>
          <li *ngFor="let item of items | async">
              {{ item.name }}
          </li>
      </ul>
  </div>
  <div class="container">
    <p>Something cool</p>
  </div>
</main>
