<div class="container text-center" style="width: 25%; margin-top:10%; margin-bottom: 10%">
  <div class="form-signin">
      <img class="mb-4" src="/docs/4.4/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
      <input #inputEmail type="email" class="form-control" placeholder="Email address" required="" autofocus="" style="margin: 5px">
      <input #inputPassword type="password" class="form-control" placeholder="Password" required="" style="margin: 5px">
      <div class="checkbox mb-3">
          <!--<label>
          <input type="checkbox" value="remember-me"> Remember me
          </label>
          <br>-->
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="handleLogin(inputEmail.value, inputPassword.value)">Sign in</button>
  </div>
</div>
